html, body {
    background-color: #233142;
    overflow: hidden;
}

h1{
    color: #4f9da6;
    padding: 14px;
    margin-bottom: 1px;
    font-family: 'BioRhyme', serif;
    font-weight: normal;
}

ul.navBar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Arvo', serif;
  margin-top: -5px;
}

li{
  float: left;
}

li a {
  display: block;
  color: #ff5959;
  text-align: center;
  padding: 14px ;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {

}
.container{
  float: left;
  width:50%;
  height: 100%;

}

#content{
  margin: 0 auto;
  margin-top: 20%;
  width:50%;
  height: auto;
}

#hey{
  color: #facf5a;
  font-family: 'BioRhyme', serif;
  font-size: 38px;
  margin-bottom: -50px;
  display: none;
}

.name{
  font-family: 'Arvo', serif;
  font-size: 72px;
  font-weight: bold;
  color: #4f9da6;
  display: none;
}

#firstName{
  margin-bottom: -75px;
}

#sig{
  font-family: 'BioRhyme', serif;
  margin-top: -50px;
  font-size: 18px;
  color: #ff5959;
  display: none;
}

#profile{
  top: 0px;
  height: 100%;
  width: 50%;
  float: right;
  position: absolute;
  z-index: 1;
}

#socialUl{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  width: 45px;
  height: 190px;
  position: absolute;
  bottom: 40%;
  right: 0px;
  z-index: 2;
  background-color: #facf5a;
}

.social{
  height: 30px;
  width: 30px;


}

#topSocial{

}
